

.sideMenu {
    background-color: red;
    width: 100px;
}

.menu {
    height: 200px;
}

.spacer {
    height: 60px;
}

.footer {
    bottom: 0;
}

.redBox {
    background-color: red;
    height: 200px;
    width: 200px;
}